#top {
	margin-left: -1rem;
	@media (--content-query) {
		margin-left: 0;
	}
	& #phoneEmailBlock {
		margin-top: 1rem;
		margin-left: 13rem;
		margin-bottom: 0;
		font-size: .6rem;
		text-align: center;
		z-index: 2;
		@media (--content-query) {
			margin-top: 1rem;
    margin-left: 30rem;
    margin-bottom: -2rem;
    text-align: center;
		}
		& a,
		& a:hover,
		& a:visited {
			z-index: 20;
			color: #222;
		}
		& h2 {
			font-size: .7rem;
			z-index: 20;
			@media (--content-query) {
				font-size: 1.7rem;
			}
		}
	}
	& .resumeName {
		margin-top: -3rem;
		@media (--content-query) {
			margin-top: -6rem;
		}
		& img {
			max-width: 96.5%;
			z-index: -1;

		}

	}
	& #socialBlock {
		margin-top: -3rem;
		display: grid;
    grid-template-rows: repeat(auto-fit, minmax(18px, 1fr));
    /* position: relative; */
	margin-left: 2rem;

		@media (--content-query) {
			margin-top: -12rem;
		}
		& #socialIcons {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(17px, 1fr));
			max-width: 40%;
    margin-top: -2rem;
			/* top: -7rem; */
			/* position: relative; */
			/* left: 2rem; */
			grid-gap: .2rem;
			z-index: 2;
			@media (--content-query) {
				max-width: 33%;
				margin-top: 0;
			}
			& img {
				z-index: 2;
			}
		}
		& #socialSecondRow {
			font-size: .6rem;
			margin-left: -6rem;
			margin-top: -1rem;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			z-index: 2;
			@media (--content-query) {
				font-size: 1.4rem;
				margin-top: -2rem;
				margin-left: 7rem;
			}
			& #austintude {
				margin: 0rem auto 1rem 7rem;
				font-size: 1rem;
				@media (--content-query) {
					margin-left: 5rem;
    font-size: 2rem;
				}
			}
			& #url {
				margin-top: 1rem;
				font-size: .5rem;
				margin-left: 4rem;
				@media (--content-query) {
					margin-top: -2rem;
					font-size: 1.5rem;
    margin-left: 3rem;
				}
			}
		}
	}
}
